<%- include("partials/header") %>

<div class="landing">
    <h1>Plan Your Next Journey With Us</h1>
    <a href="/campgrounds" class="btn btn-primary btn-lg">DISCOVER CAMPS</a>
</div>

<%- include("partials/footer") %>
